/* Variables */
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter';
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.75;
  color: var(--dark-grayish-blue);
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* styless */
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar__nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 2rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 1rem;
}

.navbar__link:hover {
  color: var(--soft-orange);
}

.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(240, 100%, 5%, 0.4);
}

.offcanvas__side {
  width: 70%;
  height: 100%;
  background-color: var(--off-white);
  position: absolute;
  right: 0;
}

.offcanvas__side .navbar__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.offcanvas__side .navbar__nav {
  position: absolute;
  top: 20%;
  left: 30px;
}

.offcanvas__side .navbar__link {
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 1.1rem;
  font-family: inherit;
}

.navbar__nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navbar__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* main-article */
.main-article {
  display: grid;
  gap: 1.25rem;
}

.main-article > * {
  margin: 0;
}

.main-article__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-article__title {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
  color: var(--very-dark-blue);
}

.main-article__btn {
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: 0.8rem 1.75rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  cursor: pointer;
  justify-self: start;
}

.main-article__btn:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

/* new-news */
.new-news {
  background-color: var(--very-dark-blue);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.new-news > * {
  margin: 0;
}

.new-news__title {
  color: var(--soft-orange);
  font-size: 2rem;
  line-height: 1;
}

.new-news__new {
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.new-news__new--last {
  border-bottom: none;
}

.new-news__new-link {
  text-decoration: none;
}

.new-news__new-title {
  color: var(--off-white);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.new-news__new-title:hover {
  color: var(--soft-orange);
}

.new-news__new-text {
  color: var(--grayish-blue);
  font-size: 1rem;
}

/* top-news */
.top-news {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.top-new {
  display: flex;
  gap: 1.5rem;
}

.top-new__img {
  width: 100px;
  object-fit: cover;
}

.top-new__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-new__content * {
  margin: 0;
}

.top-new__number {
  color: var(--grayish-blue);
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.top-new__link {
  text-decoration: none;
}

.top-new__title {
  color: var(--very-dark-blue);
}

.top-new__title:hover {
  color: var(--soft-red);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
    width: auto;
  }

  .top-new__img {
    width: 120px;
  }

  .top-new__number {
    font-size: 2.5rem;
  }

  .top-new__title {
    font-size: 1.5rem;
  }

  .top-new__text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .grid__main-article {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .grid__new-news {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .grid__top-news {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .main-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
  }

  .main-article__picture {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .main-article__img {
    height: 100%;
    object-fit: cover;
  }

  .main-article__title {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 3.5rem;
  }

  .main-article__wrap-text-btn {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .top-news {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .navbar__toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  .navbar__nav {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 2rem;
  }

  .navbar__link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: 1rem;
  }

  .navbar__link:hover {
    color: var(--soft-orange);
  }

  .offcanvas {
    position: static;
    width: auto;
    height: auto;
    background-color: none;
  }

  .offcanvas__side {
    width: auto;
    height: auto;
    position: static;
  }

  .offcanvas__side .navbar__close {
    position: static;
  }

  .offcanvas__side .navbar__nav {
    position: static;
  }

  .offcanvas__side .navbar__link {
    font-weight: 400;
  }

  .navbar__nav {
    flex-direction: row;
  }

  .navbar__close {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

/* Utis */
.d-none {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  .d-block--lg {
    display: block !important;
  }
}
